<%# Title %>

<div class="container flex flex-wrap items-center gap-2 mb-3">

  <% unless task.completed? %>
    <div class="shadow-md rounded-md py-1 px-2 text-sm">
      <i class="fas fa-circle text-xs text-indigo-400"></i>
      &nbsp;Current
    </div>
  <% else %>
   <div class="shadow-md rounded-md py-1 px-2 text-sm">
      <i class="fas fa-circle text-xs text-green-400"></i>
      &nbsp;Completed
    </div>
  <% end %>
</div>
