<% my_tasks.each do |task| %>

  <% if task == @task %>
    <div data-controller="tabs" class="t-sidetab-btn-active flex items-center justify-between">
  <% else %>
    <div data-controller="tabs" class="t-sidetab-btn flex items-center justify-between">
  <% end %>

    <div class="flex-grow" data-action="">
      <%= task.title %>
    </div>

  </div>

<% end %>
