<div data-controller="world" class="flex">

  <div class="w-72 p-5 shadow-lg fixed h-screen">
    <%= link_to '🅗Taskete', dashboard_path, class: 'font-medium pb-3' %>
    <%= render "shared/sidebar_l" %>
  </div>
  <div class="w-72"></div> <%# ghost sidebar to push content %>


  <div class="flex-grow pt-4 pl-10">
    <div data-world-target="contentmain" data-controller = "workflow">
      <%= render "workflows/workflow", locals: {workflow: @workflow} %>
    </div>
  </div>

  <div class="w-60 pt-2 px-5">
    <%= render 'shared/sidebar_r' %>
  </div>

</div>
