<button class="flex p-2 rounded-md" data-action="click->task#new" data-task-target="new">
  <div class="w-5 h-5 p-3 rounded-full shadow-md">
    <p class="flex content-center justify-center"><i class="fas fa-plus"></i></p>
  </div>
  <span class="inline-block ml-2">Add a new task</span>
</button>
