<%= simple_form_for @task, remote: true, html: {'data-task-target': 'form', class:"my-4 px-6"} do |f| %>
  <%= f.input :title,
              label: false,
              input_html: {
                placeholder: "Enter a title for this task",
                class: "text-sm rounded-md bg-gray-100 p-4 my-2 w-full outline-none",
                data: { 'task-target': 'taskname' }
              } %>
  <div class="flex items-center">
    <%= f.button :submit,
                class: "px-2 py-1 text-sm rounded-md shadow-md bg-white cursor-pointer",
                value: "Add task",
                data: { "action": "click->task#submitForm" }
                %>
    <%=  %>
    <div data-action="click->task#closeForm" class="t-btn-square text-xs ml-2 fa fa-times cursor-pointer"></div>
  </div>
<% end %>
