<div data-task-target="list" id="task-list">
  <% @tasks.each do |t| %> <!-- order done in tasks#index -->
    <%= render partial: 'task', locals: { tasks: @tasks, task: t, workflow: @workflow } %>
  <% end %>
</div>
