<button class="mt-5 flex items-center flex-shrink p-4 rounded-lg shadow-md text-sm" data-action="click->task#new" data-task-target="new">
  <i class="fas fa-plus text-xs"></i>
  <span class="ml-2 text-gray-400">Add a new task</span>
</button>
