<div data-controller="toggle">
  <div data-task-id=<%= task.id%> data-controller="item" class="shadow-lg rounded-lg py-4 px-4 mt-2 mb-2">
    <div class="flex justify-between">
      <button data-action="click->item#getItems click->toggle#hide" class="text-sm text-left flex-grow">
        <%= task.title %>
      </button>
      <button data-action="click-> task#markComplete" class='text-indigo-500 text-sm'>
        Mark as complete
      </button>
    </div>
    <div data-toggle-target="hide", class="hidden" class='block'>
      <ul data-item-target="list" >
      </ul>
    </div>
  </div>
</div>
