<button class="mt-5 flex items-center py-2 px-4 rounded-lg shadow-md text-sm" data-action="click->task#new" data-task-target="new">
  <i class="fas fa-plus text-xs"></i>
  <span class="inline-block ml-2">Add a new task</span>
</button>
