<button class="flex p-2 rounded-md" data-action="click->task#new" data-task-target="new">
  <div class="w-8 h-8 rounded-full shadow-md flex">
    <p class="self-center mx-auto"><i class="fas fa-plus"></i></p>
  </div>
  <span class="self-center ml-2">Add a task</span>
</button>
