<div data-controller="toggle">
  <div data-task-id=<%= task.id%> data-controller="item" class="shadow-lg rounded-md bg-white dark:bg-gray-800 py-3 px-6 mb-2 block">
    <div class="flex justify-between">
      <button data-action="click->item#getItems click->toggle#hide">
        <h3 class='text-xl'><%= task.title %></h3>
      </button>
      <button data-action="click-> task#markComplete" class='text-sm'>
        Mark as complete
      </button>
    </div>
    <div data-toggle-target="hide", class="hidden" class='block'>
      <ul data-item-target="list" >
      </ul>
    </div>
  </div>
</div>
