<div data-controller="toggle">
  <div data-task-id=<%= task.id%> data-controller="item" class="shadow-lg rounded-lg py-4 px-4 mt-2">
    <button class="text-sm w-full text-left" data-action="click->item#getItems click->toggle#hide">
      <%= task.title %>
    </button>
    <div data-toggle-target="hide" >
      <ul data-item-target="list" >
      </ul>
    </div>
  </div>
</div>
