<div data-controller="toggle">
  <div data-item-id=<%= task.id%> class="shadow-lg rounded-md bg-white dark:bg-gray-800 p-2 block" data-controller="item">
    <button class="bg-gray-200" data-action="click->item#getItems click->toggle#hide">
      <%= task.title %>
    </button>
    <div data-toggle-target="hide">
      <ul data-item-target="list" >
      </ul>
    </div>
  </div>
</div>
