<button class="flex p-2 rounded-md" data-action="click->task#new" data-task-target="new">
  <div class="w-5 h-5 p-3 rounded-full shadow-md">
    <p class="flex content-center justify-center"><i class="fas fa-plus"></i></p>
    <%# <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
      <path id="mini_plus" d="M44,743H41v-3a1,1,0,0,0-2,0v3H36a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0v-3h3a1,1,0,0,0,0-2Z" transform="translate(-35 -739)"/>
    </svg> %>
  </div>
  <span class="inline-block ml-2">Add a new task</span>
</button>
