<div data-controller="toggle-task">
  <div data-task-id=<%= task.id %> data-controller="item" class="t-card border py-4 px-4 mb-2 mx-6">
    <button class="text-sm w-full text-left" data-action="click->item#getItems click->toggle-task#hide">
      <%= task.title %>
    </button>
    <div class="hidden" data-toggle-task-target="hide" >

      <ul data-item-target="list" >
      </ul>

      <%= render partial: 'items/itemadd', locals: {task_id: task.id} %>

    </div>
  </div>
</div>
