<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Tailblocks</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900">First Link</a>
      <a class="mr-5 hover:text-gray-900">Second Link</a>
      <a class="mr-5 hover:text-gray-900">Third Link</a>
      <a class="mr-5 hover:text-gray-900">Fourth Link</a>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"font-medium text-indigo-600 hover:text-indigo-500" %>

    </nav>
    <button>
      <div class="shadow-lg rounded-2xl bg-white dark:bg-gray-800 p-2">
          <div class="flex-row gap-4 flex justify-right items-center">
              <div class="flex-shrink-0">
                  <a href="#" class="block relative">
                      <img alt="profile" src="https://res.cloudinary.com/dr9qig39o/image/upload/v1632231170/hotpotato/profile1_n8uxu6.jpg" class="mx-auto object-cover rounded-full h-12 w-12 "/>
                  </a>
              </div>
              <div class=" flex flex-col">
                  <span class="text-gray-600 dark:text-white text-lg font-medium">
                      Natalia
                  </span>
              </div>
          </div>
      </div>
    </button>
  </div>
</header>
