<button>
  <div class="shadow-lg rounded-2xl bg-white dark:bg-gray-800 p-2 ">
    <div class="gap-2 flex justify-right items-center">

      <div class="flex-shrink-0">
        <a href="#" class="block relative">
          <img alt="profile" src="https://res.cloudinary.com/dr9qig39o/image/upload/v1632231170/hotpotato/profile1_n8uxu6.jpg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
        </a>
      </div>

      <span class="text-gray-600 dark:text-white text-base">
        Natalia
      </span>

    </div>
  </div>
</button>
