<div data-controller="search">
  <button data-action="click->search#createBtnDropdown" class="w-full border border-purple-400 rounded-lg p-2 mt-2 flex items-center hover:bg-purple-400 hover:text-white duration-200">
    <div class="px-2">
      <svg class="t-hover-white" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
        <path id="mini_plus" d="M44,743H41v-3a1,1,0,0,0-2,0v3H36a1,1,0,0,0,0,2h3v3a1,1,0,0,0,2,0v-3h3a1,1,0,0,0,0-2Z" transform="translate(-35 -739)"/>
      </svg>
    </div>
    <h5 class="text-sm">Create</h5>
  </button>
  <div data-search-target="dropdown" class="hidden py-2 mt-1 w-48 bg-white rounded-md shadow-xl fixed hidden">
    <%= link_to "Workflow", workflows_path, method: 'post', class:"block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
  </div>
</div>
