<%= render 'shared/nav_account' %>

<div class="fixed w-44">
  <div class="rounded-lg bg-gray-100 py-2 px-4 mt-8">
    <h1 class="text-sm">Item folder</h1>
  </div>

  <div class="p-2 mt-2 t-card border h-96">
    <ul class="t-item-box bg-gray-100 rounded-lg px-2 pb-1" data-task-id="test">
      <div class="text-xs text-gray-300 text-center pt-2">Drop items here</div>
    </ul>
  </div>
</div>
