<div data-controller="sidebar-l">
  <%# icon and title TODO: replace icon %>
  <div class="flex">
    <i class="fas fa-record-vinyl"></i>
    <h1>hotpotato</h1>
  </div>

  <%# tab %>
  <div class="tab">
    <button class="tablinks" >My workflows</button>
    <button class="tablinks" >My Tasks</button>
  </div>

  <%# tab content %>
  <div id="workflows" class="tabcontent">
    <div>
      <h3>Create</h3>
      <i class="fas fa-plus"></i>
    </div>

    <%# search bar form to search within workflows %>
    <%= form_with url: movies_path, method: :get %>

    <%# workflows list %>
    <%= render "shared/workflow" %>
  </div>

  <div id="tasks" class="tabcontent">
    <h3>Tasks</h3>
  </div>

</div>