<% workflows.each do |workflow| %>

  <% if workflow == @workflow %>
    <div class="t-workflow-btn-active">
  <% else %>
    <div class="t-workflow-btn">
  <% end %>
    <%= link_to workflow.title, workflow_path(workflow), id: 'workflow' %>
  </div>

<% end %>
