<div class="flex justify-between p-3">
  <h2>Workflow 1</h2>

  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>

<div class="flex justify-between p-3">
  <h2>Workflow 2</h2>

  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>

<div class="flex justify-between p-3">
  <h2>Workflow 3</h2>

  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>