<% workflows.each do |workflow| %>

  <div data-action="click->world#selectWorkflow" class="px-4 py-2 my-1 text-sm rounded-lg hover:bg-gray-100 duration-100">
    <%= workflow.title %>
  </div>

<% end %>
