<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
  <div class="text-center pb-12">
      <%= image_tag 'Taskete_logo.png', class: 'h-12 block ml-auto mr-auto' %>
      <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">
          Check our awesome team members
      </h1>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="w-full bg-white rounded-lg sahdow-lg p-12 flex flex-col justify-center items-center">
          <div class="mb-8">
            <%= image_tag "/assets/profiles/daniel.jpg", class: 'object-center object-cover rounded-full h-36 w-36' %>          </div>
          <div class="text-center">
              <p class="text-xl text-gray-700 font-bold mb-2">Daniel Teo</p>
              <p class="text-base text-gray-400 font-normal">Fullstack Developer</p>
          </div>
      </div>
      <div class="w-full bg-white rounded-lg sahdow-lg p-12 flex flex-col justify-center items-center">
          <div class="mb-8">
            <%= image_tag "/assets/profiles/ethan.jpg", class: 'object-right object-cover rounded-full h-36 w-36' %>
          </div>
          <div class="text-center">
              <p class="text-xl text-gray-700 font-bold mb-2">Ethan Pay</p>
              <p class="text-base text-gray-400 font-normal">Fuller-Stackier Developer</p>
          </div>
      </div>
      <div class="w-full bg-white rounded-lg sahdow-lg p-12 flex flex-col justify-center items-center">
          <div class="mb-8">
            <%= image_tag "/assets/profiles/royce.jpg", class: 'object-center object-cover rounded-full h-36 w-36' %>
          </div>
          <div class="text-center">
              <p class="text-xl text-gray-700 font-bold mb-2">Royce</p>
              <p class="text-base text-gray-400 font-normal">Fullest-Stackiest Developer</p>
          </div>
      </div>
  </div>
</section>