<button data-item-id=<%= @task.id%> class="flex p-2 rounded-md" data-action="click->item#new" data-item-target="new">
  <div class="w-5 h-5 p-3 rounded-full shadow-md">
    <p><i class="fas fa-plus"></i></p>
  </div>
  <span class="inline-block ml-2">Add an item</span>
</button>
