<li>
  <div class="shadow-md rounded-md bg-white px-4 py-2 my-2 flex justify-between items-center text-sm">
    <%= item.title  %>

    <button class="p-1 rounded-full"><i class="fas fa-minus-circle text-red-500"></i>
      <%= link_to "Delete", item_path(item), method: :delete, remote: true %>
    </button>
  </div>
</li>
