<button data-item-id=<%= @task.id%> class="flex p-2 rounded-md content-center	" data-action="click->item#new" data-item-target="new">
  <div class="w-8 h-8 rounded-full shadow-md flex">
    <p class="self-center mx-auto"><i class="fas fa-plus"></i></p>
  </div>
  <span class="self-center ml-2">Add an item</span>
</button>
