<button data-item-id=<%= @task.id%> class="text-sm flex p-2 rounded-md content-center	" data-action="click->item#new" data-item-target="new">
  <div class="w-8 h-8 text-xs rounded-full shadow-md flex justify-center items-center">
    <i class="fas fa-plus"></i>
  </div>
  <span class="self-center ml-2">Add an item</span>
</button>
