
<%# <ul data-item-target="list" data-controller="drag" data-drag-url="/items/:id/move" class="flex-grow"> %>
  <% items.order(position: :asc).each do |item| %>
    <li data-item-id="<%= item.id %>" data-task-id="<%= @task.id %>">
      <%= render partial: 'items/item', locals: { item: item, workflow: @workflow, task: @task  } %>
    </li>
  <% end %>
<%# </ul> %>
