<%# <% if items.length >= 1 %>
  <ul data-item-target="list">
    <% items.each do |item| %>
      <%= render partial: 'items/item', locals: { item: item, workflow: @workflow } %>
    <% end %>
  </ul>
  <%# <div data-item-target="newform">
  </div>
  <%= render "items/itemadd", locals: { task: task } %>
<%# <% else %>
  <%# <div data-item-target="newform">
  </div>
  <%= render "items/itemadd", locals: { task: task } %>
<%# <% end  %>
