<%# <% if items.length >= 1 %>
  <ul data-item-target="list" data-controller="drag" data-drag-url="/items/:id/move">
    <% items.order(position: :asc).each do |item| %>
      <li data-id="<%= item.id %>">
        <%= render partial: 'items/item', locals: { item: item, workflow: @workflow } %>
      </li>
    <% end %>
  </ul>
  <%# <div data-item-target="newform">
  </div>
  <%= render "items/itemadd", locals: { task: task } %>
<%# <% else %>
  <%# <div data-item-target="newform">
  </div>
  <%= render "items/itemadd", locals: { task: task } %>
<%# <% end  %>
