.search-bar {
  display: flex;
  align-items: center;
  &:hover > .search-text {
    flex-grow: 1;
  }
  background-color:#374151;
}

.search-text {
  padding: 5px 0px 2px 0px;
  border: none;
  outline: none;
  transition: 0.4s;
  &:focus {
    flex-grow: 1;
  }
  background-color: #374151;
}

.search-bar button {
  padding: 5px 0 2px 14px;
  color: #e0e6ed;
  border: none;
  margin: 2px 0;
}
