// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: rgb(255, 255, 255);
}
// button {
//   &:hover .t-hover-white {
//     fill: white;
//     transition: 100ms;
//   }
// }

// .t-bgc {
//   background-color: rgb(14, 13, 22);
// }

.main-content {
  margin-left: 280px;
}
.t-workflow-content {
  min-height: 87vh;
}
.t-item-box {
  min-height: 36px;
}
.t-text-xs {
  font-size: 9px;
}
