
<% members.each do |member| %>
  <button data-member-id=<%= member.id %> data-action="click->toggle#addMember" class="t-dropdown-btn">
    <%= member.first_name.capitalize %>&nbsp;<%= member.last_name.capitalize %>
  </button>
<% end %>
